{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
 <table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>

        {% for share in stock %}
            <tr>
            <td>{{share.symbol}}</td>
            <td>{{share.shares}}</td>
            <td>{{share.price | usd }}</td>
            <td>{{share.transacted_at}}</td>
            </tr>
       {% endfor %}
        </tbody>
 </table>

{% endblock %}
